extends ../layouts/default

block vars
	- bodyClass = 'index'

block content
	.videoContainer.home
		video.video-js.vjs-default-skin(id="heroVideo",controls,preload="none",autoplay="true",muted)
			source(src="http://www.qualidadenutricao.com.br/TRAVEL-LOVE.m3u8",poster="/images/videoPoster.jpg",type='application/x-mpegURL')
	.playButton(id="playButton")
		.buttonHolder
			svg.svgButton(version="1.1",id="Layer_1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 35.4 35.4",enable-background="new 0 0 35.4 35.4",xml:space="preserve")
				path(d="M0,0l35.4,18.7L0,35.4V0z")
	.closeButton(id="closeButton")
		svg.svgButton(viewBox="0 0 40 40")
			line(x1="0",y1="0",x2="40",y2="40")
			line(x1="0",y1="40",x2="40",y2="0")

	.row.article
		.container
			.col-md-8.leftCol
				.hugeName
					.positionName
						h1 BRUNO<br>PORTELA
						h3 Here I write tips about travel, work and life and offer my take on some moral values. Things may get weird.
				.articleCopy
					p Stories, music, dance. Those are just some of the ways our people have used to preserve tradition and memory.
					p The first handwritten letter was sent by a Perisan Queen in 500 BC. The linden tree was particularly good allowing the folding of its bark. Later on the Egyptian papyrus made the ancient libraries of Alexandria and Pergamum possible and the romans perfected it as a strong cross layered papyrus.
					p 
					.quote
						span "In World War I, Academy graduates again distinguished themselves on the battlefield."
					p President Thomas Jefferson signed legislation establishing the United States Military Academy in 1802. He took this action after ensuring that those attending the Academy would be representative of a democratic society
					
			.col-md-4.rightCol
				h1 Know More
				.wrapper
					p I've just been to
					a Point Place, Winsconsin, USA
					p I'm now headed to
					a Los Angeles, California, USA
					hr
					h2 Sign up to the newsletter
					p Every other week I send an inspirational letter filled with insights in love, life and travel tips!	
					.form-inline
						input.form-control(type="text",placeholder="your@email.com")
						input.btn(type="button" value="Submit")
					hr
